@import url("https://fonts.googleapis.com/css?family=Poppins")
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
.header{
    position: fixed;
    height: 60px;
    width: 100%;
    background: transparent;
    z-index: 100;
    padding: 0 20px;
}
.nav{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.nav,
.nav_item{
    display: flex;
    align-items: end;
    height: 100%;
    justify-content: space-between;
}
.nav_item{
    column-gap: 25px;
}
.nav_link,
.nav_logo{
    color: #82131C;
}
.nav_link:hover{
    color: rgb(255, 0, 0);
}
.button{
    color: #fff;
    padding: 6px 24px;
    border: 2px solid #fff;
    background: #82131C;
    border-radius: 6px;
    cursor: pointer;
}
.button.active{
    transform: scale(0.98);
}

/*home*/
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-position: center;
}

/*form*/
.form_container{
    position: absolute;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background: rgb(233, 233, 233);
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
}
.signup_form{
    display: none;
}
.form_close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}
.form_container h2{
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}
.input-box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}
.input-box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
}
.input-box input:focus{
    border-color: #82131C;
}
.input-box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.input-box i.name,
.input-box i.email,
.input-box i.password{
    left: 5px;
    color: #707070;
}
.input-box input:focus ~ i.name,
.input-box input:focus ~ i.email,
.input-box input:focus ~ i.password{
    color: #82131C;
}
.option_field{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_container a{
    color: #82131C;
    font-size: 12px;
}
.form_container a:hover{
    text-decoration: underline;
}
.checkbox{
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
    cursor: pointer;
}
.checkbox input{
    accent-color: #82131c;
}
.checkbox label{
    font-size: 12px;
    user-select: none;
    color: #0b0217;
}
.form_container .button{
    background: #82131C;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}
.login_signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}